<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 先配置C3P0的连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql:///100test"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
	</bean>
	
	
	<!-- LocalSessionFactoryBean加载配置文件  -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 先加载连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 加载方言，加载可选
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		
		增加实体配置文件 引入映射的配置文件 
		<property name="mappingResources">
			<list>
				
			</list>
		</property> -->
		
	</bean>
	
	<!--  先关闭事务先配置平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	 <!-- 开启事务的注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	
	<!-- 配置学生模块 -->
	<bean id="student" class="com.oes.bean.Student">
		
	</bean>
	<!-- 配置考试记录  -->
	<bean id="record" class="com.oes.bean.Record">
		
	</bean>
	<!-- 配置jdbcTemplate  -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 配置登录模块 -->
	<bean id="loginAction" class="com.oes.web.action.LoginAction" scope="prototype">
		<property name="studentService" ref="studentService"/>
		<property name="teacherService" ref="teacherService"/>
		<property name="adminService" ref="adminService"/>
	</bean>
	<!-- 配置考试模块 -->
	<bean id="examAction" class="com.oes.web.action.ExamAction" scope="prototype">
		<property name="examService" ref="examService"/>
		<property name="paperService" ref="paperService"/>
		<property name="recordService" ref="recordService"/>
	</bean>
	
	<bean id="studentAction" class="com.oes.web.action.StudentAction" scope="prototype">
		<property name="studentService" ref="studentService"/>
	</bean>
	
	<!--  基础动作 -->
	<bean id="basicAction" class="com.oes.web.action.BasicAction" scope="prototype">
		
	</bean>
	
	<!-- 考试业务 -->
	<bean id="examService" class="com.oes.service.impl.ExamServiceImpl">
		<property name="examDao" ref="examDao"/>
		<property name="paperDao" ref="paperDao"/>
	</bean>
	<!-- 考试记录业务 -->
	<bean id="recordService" class="com.oes.service.impl.RecordServiceImpl">
		<property name="recordDao" ref="recordDao"/>
		<property name="examService" ref="examService"/>
		<property name="studentService" ref="studentService"/>
		
	</bean>
	
	
	<!-- 试卷业务 -->
	<bean id="paperService" class="com.oes.service.impl.PaperServiceImpl">
		<property name="paperDao" ref="paperDao"/>
	</bean>
	
	
	<!-- 学生业务模块 -->
	<bean id="studentService" class="com.oes.service.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<!-- 老师业务模块 -->
	<bean id="teacherService" class="com.oes.service.impl.TeacherServiceImpl">
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>
	<!-- 管理员业务模块 -->
	<bean id="adminService" class="com.oes.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	
	
	<!-- 配置持久dao层 -->
	<bean id="studentDao" class="com.oes.dao.impl.StudentDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean id="teacherDao" class="com.oes.dao.impl.TeacherDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<!-- 考试dao -->
	<bean id="examDao" class="com.oes.dao.impl.ExamDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean id="adminDao" class="com.oes.dao.impl.AdminDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean id="paperDao" class="com.oes.dao.impl.PaperDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="recordDao" class="com.oes.dao.impl.RecordDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
</beans>












